# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [ ]:
-- recipe id, recipe name, cook time, prep time, Specialty Diet, cook date


-- CREATE TABLE table_name (
--     column1 datatype,
--     column2 datatype,
--     column3 datatype,
--    ....
-- );


CREATE TABLE recipes(
  recipeId int NOT NULL AUTO_INCREMENT,
  recipeName varchar(255),
  prepTimeMinutes int,
  cookTimeMinutes int,
  specialtyDiet ENUM('None', 'Vegetarian', 'Vegan', 'Pescatarian', 'Carnivore') NOT NULL,
  cookDate DATE
    );

Add three rows to your table that are your planned makes.

In [ ]:
-- INSERT INTO table_name
-- VALUES (value1, value2, value3, ...);

INSERT INTO recipes
VALUES('Chicken Teriyaki', 30, 15, 'None', 25-AUG-2023);
INSERT INTO recipes
VALUES('Red Bean Onigiri', 15, 15, 'Vegan', 30-AUG-2023);
INSERT INTO recipes
VALUES('Poblano burritos', 30, 25, 'Vegetarian', 2-SEP-2023);

## Update a Row

Change different values in one of your three rows.

In [ ]:
-- UPDATE table_name
-- SET column1 = value1,
--  column2 = value2
-- WHERE
-- 	condition;

UPDATE recipes
SET recipeName= 'Poblano Flautas', prepTimeMinutes=20
WHERE recipeName= 'Poblano burritos';

## Delete a Row

Delete one of the rows from your table.

In [ ]:
-- DELETE FROM table
-- WHERE
--     condition;
    
DELETE FROM recipes
WHERE recipeName='Red Bean Onigiri';

## Drop the Table

While this has been fun, it is time to drop the table!

In [ ]:
DROP TABLE recipes;